<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>store track project</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">niloofar asoubar</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/picture1.jpg" alt="product">
                                <div class="product">Maanalaiset / Subterraneans</div>
                                <div class="product-artist">Timo Sälekivi</div>
                                <div class="price">$100</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                all rights reserved.
            </footer>
        </div>
    </body>
</html>