html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color:indigo;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}
.header-links a{
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}
.header-links a:hover{
    color: orange;
}
.main{
    grid-area: main;
    background-color: black;
}
.footer{
    grid-area: footer;
    background-color: indigo;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(180, 111, 180);
}
a:hover{
    color: orange;
}
#root{
  height: 100%;
}

/*home page*/
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem rgb(180, 111, 180) solid;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-image-container {
    display: block;
    width: 100%;
    height: 34rem;
    overflow: hidden;
}
.product-image{
    max-width: 34rem;
    max-height: 34rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.product-name{
    font-size: 2rem;
    font-weight: bold;
}
.product-artist{
    font-size: 1.2rem;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-rating{
    margin-bottom: 1rem;
}
/*side bar*/
.brand button{
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: rgb(180, 111, 180);
    cursor: pointer;
}
.side-bar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: rgb(97, 62, 124);
    height: 100%;
    transition: all .5s;
}
.side-bar.open{
    transform: translateX(0);
}
.sidebar-close-button{
    border-radius: 50%;
    border: 0.1rem plum solid;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    color: plum;
}
/*product details*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image{
  flex: 2 1 60rem;
}
.details-image img{
  max-width: 60rem;
  width: 100%;
}
.details-info{
  flex: 1 1 30rem;
}
.details-action{
  flex: 1 1 30rem;
}
.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
}
.back-to-result{
  padding: 1rem;
}
.details-action{
  border: .1rem clear solid;
  border-radius: 0.5rem;
  background-color: rgb(97, 62, 124);
  padding: 1rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: .2rem rgb(195, 55, 55) solid;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: hotpink;
}
button:hover{
  border: .2rem rgb(174, 17, 17) solid;
  background-color: rgb(247, 67, 157);
}